@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body {
  height: 100%;
}

body {
  font-family: Roboto, sans-serif;
  margin: 0;
  background: #aaa;
  color: #333;
  /* I'll give you this one for free lol */
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: white;
  width: 480px;
  border-radius: 10px;
  box-shadow: 2px 4px 16px rgba(0,0,0,.2);
  display: flex; /*Activa flex*/
  gap: 10px; /*Espaciado entre elementos*/
  padding: 10px; /*Espaciado entre el contenido y el borde del modal*/
}

.icon {
  color: royalblue;
  font-size: 26px;
  font-weight: 700;
  background: lavender;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0; /*Evita que el icono reduzca su tama単o (Cualquier entero > 0, reduce su tama単o)*/
}

.header {
  display: flex; /*Activa flex*/
  justify-content: space-between; /*Espaciado equitativo entre elementos sin cambiar el tama単o de los mismo*/
  font-size: 20px; /*Tama単o de la fuente*/
  font-weight: bold; /*Fuente en negrita*/
  margin-bottom: 10px; /*Margen inferior*/
}

.close-button {
  background: #eee;
  border-radius: 50%;
  color: #888;
  font-weight: 400;
  font-size: 16px;
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #eee;
  padding: 0;
}

.text {
  margin-bottom: 10px; /*Margen inferior*/
}

button {
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 8px;
}

button.continue {
  background: royalblue;
  border: 1px solid royalblue;
  color: white;
}

button.cancel {
  background: white;
  border: 1px solid #ddd;
  color: royalblue;
}