body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex; /*Activa flex*/
  flex-direction: column; /*Cambia el modo de flex de renglones a columnas*/
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
  font-size: 32px; /*Tamaño de la fuente*/
  font-weight: 900; /*Fuente en negritas*/
  display: flex; /*Activa flex para poder usar "align-items"*/
  align-items: center; /*Centra verticalmente*/
  padding: 0px 16px; /*Agrega padding laterales y deja el superior e inferior en 0px*/
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  display: flex; /*Activa flex para poder usar "justify-content" y "align-items"*/
  justify-content: center; /*Centra horizontalmente*/
  align-items: center; /*Centra verticalmente*/
}

.content {
  display: flex; /*Activa flex*/
  flex: 1; /*Distribuye equitativamente el contenido en la página (logra que el footer esté al fondo)*/
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
  flex-shrink: 0; /*Evita que el panel se encoja por debajo de 300px (su ancho definido anteriormente)*/
  padding: 16px;
}

a {
  text-decoration: none; /*Quita el subrayado en los links*/
  color: white; /*Color de la fuente*/
  font-size: 24px; /*Tamaño de la fuente*/
}

ul {
  list-style-type: none; /*Quita los puntos (balas) en la lista*/
  margin: 0;
  padding: 0;
}

.card-section {
  max-width: 100%; /*Para que tome toda la patalla disponible (sin hacer overflow)*/
  padding: 48px; /*Espaciado entre contenido y borde*/
  display: flex; /*Activa flex*/
  flex-wrap: wrap; /*Acomoda los items en varios renglones si ya no caben en pantalla*/
  gap: 32px; /*Espaciado entre elementos*/
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  width: 300px; /*Necesario para que flex-wrap funcione*/
  padding: 16px; /*Espaciado entre contenido y elemento*/
}