/* Add CSS Styling */
.button-one {
    background-color: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
}

.button-two {
    background-color: yellow;
}

.button-one, 
.button-two {
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}