body,
html {
  height: 100%;
  margin: 0;
}

.container {
  text-align: center;
  height: 100%;
  padding: 16px;
  box-sizing: border-box;
  /*Solution*/
  display: grid;
  grid-template: 10vh 10vh 70vh 10vh / 30vw 70vw;
  gap: 16px 16px;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
  border-radius: 15px;
}

.header {
  background-color: #006157;
  /*Solution*/
  grid-column: 1 / 3;
  grid-row: 1 / 2; /*No es necesario*/
}

.sidebar {
  background-color: #005B94;
  /*Solution*/
  grid-column: 1 / 2; /*No es necesario*/
  grid-row: 2 / 4;
}

.nav {
  background-color: #642cde;
  /*Solution*/
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.article {
  background-color: #7E1DC3;
  /*Solution*/
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.footer {
  background-color: #393f4d;
  /*Solution*/
  grid-column: 1 / 3;
  grid-row: 4 / 5; /*No es necesario*/
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

/*No es necesario: Al indicar las columnas y/o renglones
que tomará cada celda, en automático se toman el resto disponibles
quedando exaactamente el mismo layout especificando las columnas
y renglones que sin especificarlas*/